

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;}

body {
  color: #fff;
  background: url("/static/image/nightsky.PNG") no-repeat center;
  background-size: cover;
  background-position: center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

}


body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*background: rgba(49, 71, 89, 0.6);*/
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3330;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
    background-color: #198073;
}



@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #36d8c3;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}


#header {
  position: relative;
  width: 100%;
  padding: 100px 0;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}
