
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;}

body {
  color: #fff;
  background: url("/static/image/nightsky.PNG") center no-repeat;
  background-size: cover;
  background-position: center;

}
body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
  a {
    color: #24b7a4;
    text-decoration: none;
  }
  a:hover {
     color: #24b7a4;
     text-decoration: none;
   }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3330;
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
    background-color: #198073;
}
    li a:hover {
      background-color: #111;
    }


@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
  }
}

.news {
  color: #ffffff;
  text-decoration: none;
}
.news:hover {
  color: #36d8c3;
  text-decoration: none;
}

#main {
  position: relative;
}

#header {
  position: relative;
  width: 100%;
  padding: 60px 0;
}
#header h1 {
  margin: 0 0 10px 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}


@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
  margin-top: 60px;
}

.section-bg {
  background-color: #d8f7f3;
}

.section-title {
  text-align: center;
}
.section-title h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h1::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #24b7a4;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #24b7a4;
  bottom: 0;
  left: calc(50% - 25px);
}
.section-title p {
  margin-bottom: 0;
}


/* visual */
.visual {
  border-top: 3px solid #24b7a4;
  border-bottom: 3px solid #24b7a4;
  padding: 30px;
  /* background: rgba(255, 255, 255, 0.06);*/
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.visual i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.visual .network h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.visual .network p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
}
.visual {
  width: 100%;
  border-top: 3px solid #24b7a4;
  border-bottom: 3px solid #24b7a4;
  padding: 30px;
  background: rgba(255, 255, 255, 0.06);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}


/* news list */
.list .info {
  border-top: 3px solid #24b7a4;
  border-bottom: 3px solid #24b7a4;
  padding: 30px;
  background: rgba(255, 255, 255, 0.06);
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.list .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.list .info h4 {
  padding: 0 0 0 60px;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.list .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 5px;
  font-size: 18px;
}
.list .info .news:hover i {
  background: #24b7a4;
  color: #fff;
}



@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: rgba(38, 55, 69, 0.4);
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: relative;
}

