<!DOCTYPE html>
<html>
<title>TEAM ONE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href ="/static/style.css">


<body>

  <div class="bgimg w3-display-container w3-text-white">
      <div class="w3-display-middle w3-center">
        <h1>Search for Keywords</h1>
        <div class="search">
          <h5>Sentiment analysis of articles dealing with keywords you are interested in</h5>
          <form name="search" action="/analysis" method="GET">
            <div class="search-form">
              <input type="text" name="text" placeholder="Enter your Keywords" required><input type="submit" value="Search">
            </div>
          </form>

        <div class="search-link w3-padding-16 text-center">
          <span>Keywords &nbsp;
          <a href="/analysis"><i class="fa fa-newspaper-o" >news1</i></a>
          <a href="/analysis"><i class="fa fa-newspaper-o">news2</i></a>
          <a href="/analysis"><i class="fa fa-newspaper-o">news3</i></a>
          <a href="/analysis"><i class="fa fa-newspaper-o">news4</i></a>
          </span>
        </div>

      </div>
    </div>


    <div class="w3-display-topleft w3-container">
      <a href="/info">
      <p class="w3-large w3-text-white">TEAM ONE</p>
      </a>
    </div>

  </div>




</body>
</html>

