<!DOCTYPE html>
<html>
<title>TEAM ONE</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&family=Raleway&display=swap" rel="stylesheet">
<link rel="stylesheet" href ="/static/homestyle.css">


<body>

  <div id="home" class="bgimg w3-display-container w3-text-white">
    <div class="w3-display-middle w3-center">
      <h1 style="font-size: 40px;">Sentiment Analysis</h1>
      <div class="search">
        <h4>Articles dealing with keywords you are interested in</h4>
        <form name="search" action="/news" method="GET">
          <div class="search-form">
            <input name="keyword" type="text" placeholder="Enter your Keyword" required><input type="submit" value="Search">
          </div>
        </form>
        <!-- keywords example -->
        <div class="search-link w3-padding-16 text-center">
          <span>Keywords&nbsp;
            <a>코로나19</a>&nbsp;<a>서울</a>&nbsp;<a>미국</a>&nbsp;<a>한국</a>&nbsp;<a>위원회</a>
          </span>
        </div>

        <!-- Press Search Form-->
        <div class="search-link w3-padding-16 text-center">
          <h3>Analysis of press' political bias</h3>
           <form name="search" action="/test" method="GET">
             <div class="search-form">
               <input type="hidden">
                <select name="press" style="border-style: none;">
                  <option value="" disabled selected hidden>Choose a Press </option>
                  <option value="경향신문">경향신문</option><option value="매일경제">매일경제</option><option value="중앙일보">중앙일보</option>
                </select>
               <input type="submit" value="Search">
              </div>
            </form>
          </div>




      </div>
    </div>

    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#service">Service</a></li>
      <li><a href="#team">Team</a></li>

    </ul>

  </div>
  <!-- end 1st container -->

  <!-- Service Section -->
    <div id="service" class="w3-padding-64 w3-light-grey" style="margin: -24px;">
      <div class="w3-row-padding">
        <div class="w3-container w3-center">
          <h1><b>The Service</b></h1>
          <h3 class="w3-text-teal" style="margin-bottom: 35px;"><b>What do we offer?</b></h3>
          <h4>Web scraping articles dealing with topics you are interested in.  Provide sentiment analysis on top keywords. </h4>
          <h4>Identify the topics frequently covered by each press. Using this, Infer the political bias of each press.</h4>
          <button class="w3-button w3-teal w3-padding-large w3-section w3-hide-small w3-large" onclick="document.getElementById('modal').style.display='block'">
            <i class="fa fa-search"></i>&nbsp;Describe Service
          </button>
        </div>
      </div>
    </div>

      <!-- Service Modal -->
    <div id="modal" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white" style="font-family:'Gothic A1';">
          <i onclick="document.getElementById('modal').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
          <h2 class="w3-wide w3-padding-24">About Service</h2>
          <h4>1. 관심있는 키워드를 다룬 기사를 분석합니다. </h4>
          <p>상위 키워드에 대한 감성 분석을 진행합니다. '빅카인즈'를 스크래핑해 추출한 기사 전문에 대한 감성 분석을 통해 결과를 제시합니다. </p>
          <p>국립국어원에서 제공하는 말뭉치를 이용해서 빈도수를 파악합니다. 그 중 빈번하게 언급되는 상위 10~20위 선정하여 word2vec을 이용해 위치를 표시합니다. 상위 키워드를 선택하면 연관된 단어가 10개가 나타나도록 시각화합니다.</p>
          <hr>
          <h4>2. 언론사의 보도 경향성을 분석합니다. </h4>
          <p>모든 뉴스기사의 [날짜, 제목, 언론사, 기자, 전문내용]을 스크래핑합니다.  언론사가 다루는 기사 개수를 비교합니다. 각각의 뉴스 기사가 긍정/부정 중 어떤 입장을 가졌는지 감정분석을 수행합니다. 이를 통해 언론사의 보도 경향성을 도출합니다.</p>
        </div>
      </div>
    </div>


      <!-- Team Section -->
    <div id="team" class="w3-padding-64 w3-white" style="margin:-24px;">
      <div class="w3-row-padding">
        <div class="w3-container w3-center">
          <h1><b>The Team</b></h1>
          <h3 class="w3-text-teal"><b>Who are we?</b></h3>
          <div class="w3-padding-32 w3-grayscale">
          <div class="w3-col l4 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container w3-center">
                <h4>Hoidong Kwon </h4>
                <h5 class="w3-opacity">TEAM LEADER</h5>
                <p>Project Management</p><p>Deep Learning</p>
                <h5><button class="w3-button w3-teal w3-block" onclick="window.open('https://github.com/tecktonik08')"><i class="fa fa-envelope"></i> Contact</button></h5>
              </div>
            </div>
          </div>
          <div class="w3-col l4 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container w3-center">
                <h4>TaeHyeok Im</h4>
                <h5 class="w3-opacity">TEAM MEMBER</h5>
                <p>Web Scraping</p><p>Deep Learning</p>
                <h5><button class="w3-button w3-teal w3-block" onclick="window.open('https://github.com/creamcheesesteak')"><i class="fa fa-envelope"></i> Contact</button></h5>
              </div>
            </div>
          </div>
          <div class="w3-col l4 w3-margin-bottom">
            <div class="w3-card">
              <div class="w3-container w3-center">
                <h4>MiO Seo</h4>
                <h5 class="w3-opacity">TEAM MEMBER</h5>
                <p>Web Server</p><p>Web Design</p>
                <h5><button class="w3-button w3-teal w3-block" onclick="window.open('https://github.com/mmeooo')"><i class="fa fa-envelope"></i> Contact</button></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey w3-center w3-opacity" style="margin:-24px">
    <a href="#home" class="w3-button" style="color:dark-grey;"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  </footer>


</body>
</html>

