<!DOCTYPE html>
<html lang="en">

  <meta charset="utf-8">
  <meta content="target-densitydpi=device-dpi, width=device-width, initial-scale=1" name="viewport">
  <title>NEWS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

  <link rel="stylesheet" href="/static/newsstyle.css" >



<body>
  <!-- Header  -->
  <ul>
    <li><a class="active" href="/home" >Home</a></li>
    <li><a href="#">???</a></li>
    <li><a href="#">???</a></li>
  </ul>

  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" style="text-align: center;">
      <h1>News Article List</h1>
    </div>
  </header>

    <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
      <div class="container">

        <div class="section-title w3-row-padding w3-grayscale" style="margin-bottom:128px">
          <div class="w3-half">
            <h2>positive</h2>
            <p>news1</p>
            <p>news2</p>
            <p>news3</p>
            <p>news4</p>
            <p>news5</p>
          </div>

          <div class="w3-half">
            <h2>negative</h2>
            <p>news1</p>
            <p>news2</p>
            <p>news3</p>
            <p>news4</p>
            <p>news5</p>
          </div>
        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- list Section ======= -->
  <section id="list" class="list">
      <div class="container">

        <div class="section-title">
          <h2>Article</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <a href="/analysis" target="_blank">
                <div class="news">
                  <i class="fa fa-search"></i>
                  <h4>News 1</h4>
                  <p>내용~~</p>
                </div>
              </a>

              <a href="/analysis"  target="_blank">
                <div class="news">
                  <i class="fa fa-search"></i>
                  <h4>News 1</h4>
                  <p>내용~~</p>
                </div>
              </a>

              <a href="/analysis"  target="_blank">
                <div class="news">
                  <i class="fa fa-search"></i>
                  <h4>News 1</h4>
                  <p>내용~~</p>
                </div>
              </a>

            </div>
          </div>
        </div>

      </div>
    </section>
  <!-- End Contact Us Section -->



  <!--  Footer -->
  <footer class="w3-container w3-padding-16 w3-center">
      <a href="#header" class="w3-button w3-hover-teal"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  </footer>


</body>

</html>